{% extends 'base.html' %}

{% block contenido %}

  {% if request.user.is_authenticated %}
    <form action="{% url 'empezar_partida' %}" method="POST">
      {% csrf_token %}
      <div class="row">
        {{form}}
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light" type="submit" name="action">
          Jugar
          <i class="material-icons right">send</i>
      </button>        
      </div>
    </form>
  {% else %}
    <div class="row card-panel center">
        <div class="col s12 m3">
            <a href="{% url 'login' %}" class="waves-effect waves-light btn"><i class="material-icons left">person</i>Iniciar</a>
        </div>
        <div class="col s12 m3">
            <a href="{%url 'register' %}" class="waves-effect waves-light btn"><i class="material-icons left">person_add</i>REgistrarse</a>
        </div>        
    </div>
  {% endif %}
  <div class="row">
    <a href="https://api.whatsapp.com/send?phone=12345678&text=asdfghjk">enviar</a>
  </div>
{% endblock %}