{% extends 'base.html' %}
{% load social_share %}

{% block contenido %}
    <div class="row">
        {{ juego.id }}
    </div>
    <div class="row">
        Participante: {{juego.participante.username}}
    </div>
    <div>
        Correctas: {{ juego.cant_correctas }}
    </div>
    <div class="row">
        Incorrectas: {{ juego.cant_incorrectas }}
    </div>
    <ul>
        {% for detalle in juego.detalle_respuestas.all %}
            <li>
                {{detalle.pregunta.consigna}} - {{detalle.estado}}
            </li>
        {% endfor %}

    </ul>
    <div class="row">
        {% post_to_facebook request.build_absolute_uri "Compartir en Face" %}
        {% post_to_linkedin request.build_absolute_uri %}
        {% post_to_whatsapp request.build_absolute_uri "Compartir en WhatsApp" %}
    </div>
{% endblock %}