{% load static %}
<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            quiz
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %}
    <main>
        <div class="container">
            {% block contenido %}
            {% endblock %}
        </div>
    </main>
    <div class="row">
        <h1>
            URL: {{ request.build_absolute_uri }}
        </h1>
    </div>
    {% include 'footer.html' %}   
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script>
        M.AutoInit();
    </script>
</body>
</html>