<header>
    <nav>
        <div class="nav-wrapper">
          <a href="{% url 'inicio' %}" class="brand-logo">Logo</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#">ranking</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'perfil' request.user.id %}">perfil</a></li>
                <li><a href="{% url 'logout' %}">salir</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">ingresar</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    
      <ul class="sidenav" id="mobile-demo">
        <li><a href="#">ranking</a></li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'perfil' request.user.id %}">perfil</a></li>
            <li><a href="{% url 'logout' %}">salir</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">ingresar</a></li>
        {% endif %}
      </ul>
</header>